extends layout

block content
 div(ng-app="listaEmpleados" ng-controller="listaEmpleados")

  table.table-striped
      th Nombre
      th Direccion
      tr(ng-repeat="row in lista")
       td{{row.nombre}}
       td{{row.direccion}}
  script(src='/javascripts/empleados/controller.js')
  script(src='/javascripts/services/empleados.js')
